<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrdersMapper">
    
    <resultMap type="Orders" id="OrdersResult">
        <result property="orderId"    column="order_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="courierId"    column="courier_id"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="acceptTime"    column="accept_time"    />
        <result property="completionTime"    column="completion_time"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="cancelReason"    column="cancel_reason"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectOrdersVo">
        select order_id, task_id, courier_id, order_status, accept_time, completion_time, cancel_time, cancel_reason, created_at, updated_at from orders
    </sql>

    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="courierId != null "> and courier_id = #{courierId}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="acceptTime != null "> and accept_time = #{acceptTime}</if>
            <if test="completionTime != null "> and completion_time = #{completionTime}</if>
            <if test="cancelTime != null "> and cancel_time = #{cancelTime}</if>
            <if test="cancelReason != null  and cancelReason != ''"> and cancel_reason = #{cancelReason}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectOrdersByOrderId" parameterType="Long" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="courierId != null">courier_id,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="acceptTime != null">accept_time,</if>
            <if test="completionTime != null">completion_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="courierId != null">#{courierId},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="acceptTime != null">#{acceptTime},</if>
            <if test="completionTime != null">#{completionTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="cancelReason != null">#{cancelReason},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateOrders" parameterType="Orders">
        update orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="courierId != null">courier_id = #{courierId},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrdersByOrderId" parameterType="Long">
        delete from orders where order_id = #{orderId}
    </delete>

    <delete id="deleteOrdersByOrderIds" parameterType="String">
        delete from orders where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>